@page "/"

<PageTitle>Home</PageTitle>

<h1>Eliran's Helpers!</h1>

Hi Eliran, this is your homepage bromigo!
<br /><br />
<h2>Shortcuts</h2>

<ul>
    <li><a href="/blogposts/create">create new blog post</a></li>
</ul>